<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gabrielalves.infotrip" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Info Trip</name>
    <description>App para informações de turismo. N2 de LP3 e ES2.</description>
    <author email="gabriel_gouveia5@hotmail.com" href="https://github.com/infostrip/infostrip-app">
        Gabriel, Carlos, Danillo e Giovanni.
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <icon src="www\img\iconTrip.png" />
</widget>
